# Import Modules

In [130]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Load Data

In [131]:
df=pd.read_csv("district wise rainfall normal.csv")

In [132]:
df.head(20)

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2,165.2,540.7,1207.2,892.1
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,3015.7,69.7,483.5,1757.2,705.3
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,2913.3,48.6,405.6,1884.4,574.7
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8,123.0,841.3,1848.5,231.0
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,4034.7,112.8,645.4,3008.4,268.1
5,ARUNACHAL PRADESH,SUBANSIRI F.D,28.0,48.3,85.3,101.5,140.5,228.4,217.4,182.8,159.8,75.9,20.9,11.6,1300.4,76.3,327.3,788.4,108.4
6,ARUNACHAL PRADESH,TIRAP,42.2,72.7,141.0,316.9,328.7,614.7,851.9,500.6,418.3,218.7,42.9,22.9,3571.5,114.9,786.6,2385.5,284.5
7,ARUNACHAL PRADESH,ANJAW (LOHIT),42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8,123.0,841.3,1848.5,231.0
8,ARUNACHAL PRADESH,LOWER DIBANG,83.7,153.9,303.5,383.6,268.0,374.2,272.0,160.5,266.7,167.2,64.0,56.0,2553.3,237.6,955.1,1073.4,287.2
9,ARUNACHAL PRADESH,CHANGLANG,70.3,170.9,367.9,554.4,334.2,526.2,460.8,291.5,353.6,275.0,64.9,74.2,3543.9,241.2,1256.5,1632.1,414.1
10,ARUNACHAL PRADESH,PAPUM PARE,33.5,67.8,106.1,226.9,453.0,640.5,609.5,503.4,492.3,214.7,19.2,11.3,3378.2,101.3,786.0,2245.7,245.2
11,ARUNACHAL PRADESH,LOW SUBANSIRI,97.5,109.3,92.4,204.3,266.2,284.1,248.9,270.5,192.7,78.5,49.5,27.2,1921.1,206.8,562.9,996.2,155.2
12,ARUNACHAL PRADESH,UPPER SIANG,74.3,176.7,362.6,397.5,408.7,801.9,653.0,417.9,686.0,264.9,86.9,71.7,4402.1,251.0,1168.8,2558.8,423.5
13,ARUNACHAL PRADESH,WEST SIANG,26.0,66.7,76.8,229.2,239.5,416.6,592.4,312.4,291.1,126.8,33.7,29.5,2440.7,92.7,545.5,1612.5,190.0
14,ARUNACHAL PRADESH,DIBANG VALLEY,83.7,153.9,303.5,383.6,268.0,374.2,272.0,160.5,266.7,167.2,64.0,56.0,2553.3,237.6,955.1,1073.4,287.2
15,ARUNACHAL PRADESH,WEST KAMENG,35.2,43.5,58.9,134.3,341.1,665.3,749.9,579.1,490.9,233.9,40.3,27.0,3399.4,78.7,534.3,2485.2,301.2
16,ARUNACHAL PRADESH,EAST KAMENG,49.0,74.4,96.5,156.9,208.0,345.7,368.5,256.2,275.9,138.2,34.4,27.2,2030.9,123.4,461.4,1246.3,199.8
17,ARUNACHAL PRADESH,TAWANG(W KAME,35.2,43.5,58.9,134.3,341.1,665.3,749.9,579.1,490.9,233.9,40.3,27.0,3399.4,78.7,534.3,2485.2,301.2
18,ARUNACHAL PRADESH,KURUNG KUMEY,82.7,70.0,128.2,245.7,271.4,292.7,404.0,276.3,283.5,92.3,32.3,42.4,2221.5,152.7,645.3,1256.5,167.0
19,ASSAM,CACHAR,13.3,50.2,168.3,262.5,386.4,532.1,526.2,470.8,360.8,182.4,34.8,11.4,2999.2,63.5,817.2,1889.9,228.6

In [133]:
df.describe()

,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
count,641.000000,641.000000,641.000000,641.000000,641.000000,641.000000,641.000000,641.000000,641.000000,641.000000,641.000000,641.000000,641.000000,641.000000,641.000000,641.00000,641.000000
mean,18.355070,20.984399,30.034789,45.543214,81.535101,196.007332,326.033697,291.152262,194.609048,90.446334,34.117473,18.150858,1346.969579,39.339470,157.113105,1007.80234,142.714665
std,21.082806,27.729596,45.451082,71.556279,111.960390,196.556284,221.364643,152.647325,99.830540,74.990685,59.371274,32.711009,838.878874,47.212773,213.445888,629.33261,148.951752
min,0.000000,0.000000,0.000000,0.000000,0.900000,3.800000,11.600000,14.100000,8.600000,3.100000,1.200000,0.000000,94.600000,0.000000,1.500000,39.60000,5.600000
25%,6.900000,7.000000,7.000000,5.000000,12.100000,68.800000,206.400000,194.600000,128.800000,34.300000,6.600000,5.300000,830.400000,14.700000,27.800000,625.40000,51.600000
50%,13.300000,12.300000,12.700000,15.100000,33.900000,131.900000,293.700000,284.800000,181.300000,62.600000,12.900000,7.900000,1116.200000,27.700000,67.200000,896.60000,86.700000
75%,19.200000,24.100000,33.200000,48.300000,91.900000,226.600000,374.800000,358.100000,234.100000,130.200000,32.300000,14.900000,1530.900000,41.100000,172.400000,1193.80000,175.200000
max,144.500000,229.600000,367.900000,554.400000,733.700000,1476.200000,1820.900000,1522.100000,826.300000,517.700000,475.100000,297.700000,7229.300000,335.300000,1256.500000,5228.00000,1048.500000

In [134]:
df.shape

(641, 19)

In [135]:
df.isnull().sum().sum()

0

## Take MAY,JUN,JUL as training set and predict for the AUG.

In [136]:
df.head(0)

Empty DataFrame
Columns: [STATE_UT_NAME, DISTRICT, JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC, ANNUAL, Jan-Feb, Mar-May, Jun-Sep, Oct-Dec]
Index: []

In [137]:
predictors = []
for element in df.head(0):
    if element in ['STATE_UT_NAME','DISTRICT','MAY','JUN','JUL']:
        predictors.append(element)
print(predictors)

['STATE_UT_NAME', 'DISTRICT', 'MAY', 'JUN', 'JUL']

In [138]:
target = ['AUG']

In [139]:
# Separating out the predictors
x  = df.loc[:, predictors].values
# Separating out the target
y = df.loc[:,target].values

## Split the data into train data(2/3) and test data(1/3)

In [140]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

## Deploy SVM method for prediction

In [141]:
from sklearn import svm
from sklearn.datasets import make_classification
clf = svm.SVC()
X_train, y_train = make_classification()
X_test, y_test = make_classification()
clf.fit(X_train, y_train)
clf.predict(X_test)
clf.score(X_test, y_test)

C:\Users\hp\anaconda\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.71